<h1>のぞみページ2</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= link_to 'みる', controller: "view", action: "show", id: page.id %></td>
      </tr>
  <% end %>
</table>