<!DOCTYPE html>
<html>
<head>
  <title>P130209NozomiPage2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
  <meta name="robots" content="nofollow">
  <meta name="robots" content="noarchive">
</head>
<body>

<%= yield %>

</body>
</html>
